body {
  margin: 0;
  padding: 0;
  min-width: 350px;
  font-family: Helvetica;
}
.error {
display: none;
border-radius: 3px;
animation-name: false;
animation-duration: 1s;
animation-fill-mode: forwards;
animation-play-state:running;
opacity: 0;
}

@keyframes false {
  to {
    background-color: rgb(255, 85, 85);
    opacity: 100;
  }
}
@keyframes true {
  to {
    background-color: rgb(0, 214, 46);
    opacity: 100;
  }
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-image: linear-gradient(0deg, #6d47d9,  #0084ff);
  padding: 20px;
  justify-items: end;
  align-items: center;
}
.container label {
  font-size: 0.9rem;
  font-weight: 600;
  padding: 10px;
  grid-column: span 2;
  box-sizing: border-box;
  width: 100%;  
  color: white;
}
.btn {
  grid-column: span 1 ;
  grid-row: 2;
  box-sizing: border-box;
  width: 90%;
  height: 100%;
  outline: 0;
  background: rgb(52, 225, 255);
  border: 0;
  text-decoration: none;
  border-radius: 3px;
}
.btn:hover {
  background: rgba(52, 225, 255, 0.788);
  transition: 0.1s;
  
}
.btn:active {
  background: rgb(0, 255, 213);
  
}
.textBox {
  grid-row: 2;
  grid-column: span 1 ;
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  border: 0;
  box-shadow: 0px 2px rgb(60, 216, 255);
}
.error {
  width: 100%;
  box-sizing: border-box;
  grid-column: span 2;
  padding: 10px;
  font-size: 0.8rem;
  font-weight: 500;
  color: white;
  margin-top: 10px;
}

.list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 5px;
  margin: 0;
  margin-top: 10px;
  padding: 0;
  width: 100%;
  grid-column: span 2;
}
.list li {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 25px;
  align-items: center;
  background: rgb(255, 0, 106);
  width: 100%;
  color: white;
  padding: 5px;
  padding-left: 10px;
  list-style: none;
}

.list li:hover {
  background: rgb(207, 0, 86);
}

.list p {
  font-size: 1rem;
  margin: 0;
}

.list img {
  justify-self: end;
  padding-right: 5px;
}

p {
  margin: 0;
  padding: 0;
}

.heading {
  display: grid;
  gap: 5px;
  grid-template-columns: auto 1fr;
  background-image: linear-gradient(0deg, #6d47d9,  #0084ff);
  padding: 20px;
  justify-items: start;
  align-items: center;
  color: white;
  
}

.heading p {
  margin-top: -3px;
  margin-left: -3px;
}

.heading label {
  min-width: 80%;
  font-size: 1.2rem;
  margin-top: 1px;
  padding-left: 5px;
}

.back {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  text-decoration: none;
  color: white;
  font-size: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  padding-right: 10px;
  justify-self: start;
  border-right: 1px white solid;
  padding: 5px;
}